<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   

    <title>WhiteboardApp</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <!-- Include jQuery Mobile stylesheets -->
    <!link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  </head>
  <body>
    <div class="container">
        <span class="heading"></span>
        <div style="color:#404040">
        <h1 id = "h1" align="center" style="font-family:comic Sans MS"> DrawChat </h1>
        <hr>
        </div>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>

      </main>

    </div> <!-- /container -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Include the jQuery Mobile library -->
    <!script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></!script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
